<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://moonfin.org/tizen" version="2.5.0" viewmodes="maximized">
    <tizen:application id="MoonfinApp.moonfin" package="MoonfinApp" required_version="2.4"/>
    <content src="index.html"/>
    <tizen:app-control>
        <tizen:src name="index.html" reload="disable"/>
        <tizen:operation name="http://samsung.com/appcontrol/operation/eden_resume"/>
    </tizen:app-control>
    <!-- Remove the tizen:service block for Tizen 2.4 and below-->
    <tizen:service id="MoonfinApp.service">
        <tizen:content src="service/service.js"/>
        <tizen:name>moonfin_service</tizen:name>
        <tizen:description>Moonfin Smart Hub Preview Handler Service</tizen:description>
        <tizen:metadata key="meta-key" value="meta-value"/>
        <tizen:category name="http://tizen.org/category/service"/>
    </tizen:service>
    <name>Moonfin</name>
    <description>A beautiful Jellyfin media client for Samsung Smart TVs.</description>
    <author email="contact@moonfin.org" href="https://github.com/Moonfin-Client/Tizen">Moonfin Contributors</author>
    <license>MPL-2.0</license>
    <icon src="icon.png"/>
    <tizen:profile name="tv-samsung"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <access origin="*" subdomains="true"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://tizen.org/privilege/systeminfo"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <!-- Remove the next two for Tizen 2.4 and below, as it's not supported -->
    <tizen:metadata key="http://samsung.com/tv/metadata/use.preview" value="bg_service"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
